/* general css + non selectable css */
@font-face {
    font-family: 'A-Space Regular Demo';
    src: url('fonts/Radaro.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: "Sixtyfour", sans-serif;   
    color: white;
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
}
  
canvas {
    display: block;
}

#title{
    position: absolute;
    z-index: 10;
    left: 790px;
    top: 10px;
    font-size: 26px;
}

#zoom{
    position: absolute;
    z-index: 10;
    left: 870px;
    top: 80px;
    font-size: 26px;
    display: flex;
}

/* Reset camera bttn */
#reset-camera {
    font-family: "Sixtyfour", sans-serif;
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #4e59ff;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

#reset-camera:hover {
    background-color: #4e59ff;
}

/* Main Planet Menu */
#menu {
    position: absolute;
    top: 300px;
    left: 720px;
    z-index: 10;
    border-radius: 8px;
    padding: 15px;
    flex-direction: column;
    display: none;
    background-color: #111111;
}

#menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background 0.3s;
    text-align: center;
    font-size: 26px;
}
  
#menu a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.tooltip {
    transition: opacity 0.3s ease;
    opacity: 0;
}

.tooltip.visible {
    opacity: 1;
}

#menu-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
}

#menu-icon svg rect {
    transition: fill 0.3s ease;
    fill: none; 
}

#menu-icon:hover svg rect {
    fill: #4E59FF;
}

#menu-icon.menu-open svg rect {
    fill: #4E59FF;
}

/* Fullscreen Overlay */
#overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    z-index: 900;
    transition: opacity 0.5s ease;
}

#overlay.visible {
    opacity: 1;
    z-index: 900;
}

/* Dropdown Menu */
#dropdown-menu {
    display: none; 
    position: absolute;
    top: 70px;
    left: 20px;
    z-index: 1001;
    background-color: #333;
    color: white;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#dropdown-menu.visible {
    opacity: 1;
    transform: translateY(0);
}

#dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#dropdown-menu li {
    margin: 0;
    list-style: none;
    padding: 10px;
    cursor: pointer;
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#dropdown-menu li:hover {
    background-color: #666;
}

header {
    font-family: 'A-Space Regular Demo', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.9em;
    color: #4e59ff;
}

header h2 {
    color: #555;
    font-size: 1.1em;
    margin-top: 10px;
}

main {
    font-family: 'A-Space Regular Demo', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Content Sections */
.content-section {
    margin-bottom: 30px;
}

.content-section h2 {
    font-size: 2em;
    color: #333;
    border-bottom: 2px solid #4e59ff;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

/* Layout for Text and SVG */
.content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text {
    font-size: 1.4em;
    flex: 2;
}

.svg, .image-gallery {
    flex: 1;
}

.image-gallery {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
}

.image-gallery img {
    max-width: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px 0;
}

footer {
    text-align: center;
    color: #777;
    font-size: 0.9em;
    margin-top: 20px;
}

@media (max-width: 1566px) {
    #menu {
        top: 220px;
        left: 480px;
    }

    #menu a {
        font-size: 20px;
    }  

    #title{
        left: 500px;
    }
    
    #zoom{
        left: 580px;
    }
}