body {
    margin: 0;
    overflow: hidden;
    font-family: "Sixtyfour", sans-serif;   
    color: white;
}
  
canvas {
    display: block;
}

#title{
    position: absolute;
    z-index: 10;
    left: 790px;
    top: 10px;
    font-size: 26px;
}

#zoom{
    position: absolute;
    z-index: 10;
    left: 870px;
    top: 80px;
    font-size: 26px;
    display: flex;
}

#menu {
    position: absolute;
    top: 300px;
    left: 720px;
    z-index: 10;
    border-radius: 8px;
    padding: 15px;
    flex-direction: column;
    display: none;
    background-color: #111111;
}

#menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background 0.3s;
    text-align: center;
    font-size: 26px;
}
  
#menu a:hover {
    background: rgba(255, 255, 255, 0.2);
}